In [67]:
import pandas as pd

In [75]:
df=pd.read_csv('world_alcohol.csv')

In [76]:
df.head()

   Year       WHO region                Country Beverage Types  Display Value
0  1986  Western Pacific               Viet Nam           Wine           0.00
1  1986         Americas                Uruguay          Other           0.50
2  1985           Africa           Cte d'Ivoire           Wine           1.62
3  1986         Americas               Colombia           Beer           4.27
4  1987         Americas  Saint Kitts and Nevis           Beer           1.98

In [77]:
print('Shape:-',df.shape)
print('Rows:-',df.shape[0])
print('Columns:-',df.shape[1])
print('Columns names:-',df.columns)

Shape:- (100, 5)
Rows:- 100
Columns:- 5
Columns names:- Index(['Year', 'WHO region', 'Country', 'Beverage Types', 'Display Value'], dtype='object')

In [78]:
print(df.iloc[:2,:])
print('-------------------------------------------------')
print(df.iloc[:,:2].head())
print(df[['Display Value', 'Year']])

   Year       WHO region   Country Beverage Types  Display Value
0  1986  Western Pacific  Viet Nam           Wine            0.0
1  1986         Americas   Uruguay          Other            0.5
-------------------------------------------------
   Year       WHO region
0  1986  Western Pacific
1  1986         Americas
2  1985           Africa
3  1986         Americas
4  1987         Americas
    Display Value  Year
0            0.00  1986
1            0.50  1986
2            1.62  1985
3            4.27  1986
4            1.98  1987
..            ...   ...
95           0.00  1984
96           7.38  1985
97           0.00  1984
98           0.00  1984
99           0.00  1985

[100 rows x 2 columns]

In [79]:
print(df.sample(5))
print('--------------------------------------------------')
print(df.sample(frac=0.02))

    Year             WHO region                                Country  \
99  1985        South-East Asia  Democratic People's Republic of Korea
22  1984                 Europe                                Romania
92  1986                 Africa                                Eritrea
85  1985                 Africa       Democratic Republic of the Congo
25  1984  Eastern Mediterranean                                Tunisia

   Beverage Types  Display Value
99           Wine           0.00
22        Spirits           2.67
92        Spirits           0.00
85           Wine           0.01
25          Other           0.00
--------------------------------------------------
    Year             WHO region                     Country Beverage Types  \
30  1986                 Africa                Sierra Leone          Other
60  1987  Eastern Mediterranean  Iran (Islamic Republic of)          Other

    Display Value
30           4.48
60           0.00

In [80]:
print(df.isnull().sum())
print(df.dropna(inplace=True))
print(df.isnull().sum())

Year              0
WHO region        0
Country           0
Beverage Types    0
Display Value     5
dtype: int64
None
Year              0
WHO region        0
Country           0
Beverage Types    0
Display Value     0
dtype: int64

In [83]:
df2=df.drop_duplicates(subset=['WHO region'])
df2.shape

(6, 5)

In [84]:
print(df[df['Year']==1985].head())
print(df[df['Year']==1989].head())

    Year       WHO region                                            Country  \
2   1985           Africa                                       Cte d'Ivoire
7   1985           Africa                                             Angola
12  1985  Western Pacific                   Lao People's Democratic Republic
14  1985  Western Pacific                                           Viet Nam
26  1985           Europe  United Kingdom of Great Britain and Northern I...

   Beverage Types  Display Value
2            Wine           1.62
7         Spirits           0.39
12           Beer           0.00
14        Spirits           0.05
26           Wine           1.36
    Year WHO region     Country Beverage Types  Display Value
11  1989   Americas   Guatemala           Beer           0.62
17  1989     Africa  Seychelles           Beer           2.23
21  1989   Americas  Costa Rica        Spirits           4.51
32  1989     Africa   Mauritius           Beer           1.60
45  1989     Africa    Zimbabwe           Beer           0.19

In [89]:
print((df[(df['Year']==1987) | (df['Year']==1989)]).head(10))

    Year       WHO region                Country Beverage Types  Display Value
4   1987         Americas  Saint Kitts and Nevis           Beer           1.98
5   1987         Americas              Guatemala          Other           0.00
6   1987           Africa              Mauritius           Wine           0.13
10  1987           Africa               Botswana           Wine           0.20
11  1989         Americas              Guatemala           Beer           0.62
15  1987           Africa          Guinea-Bissau           Wine           0.07
17  1989           Africa             Seychelles           Beer           2.23
21  1989         Americas             Costa Rica        Spirits           4.51
28  1987  Western Pacific               Viet Nam           Beer           0.11
32  1989           Africa              Mauritius           Beer           1.60

In [95]:
(df[(df['Year']==1989) & (df['WHO region']=='Americas')]).head()

,Year,WHO region,Country,Beverage Types,Display Value
11,1989,Americas,Guatemala,Beer,0.62
21,1989,Americas,Costa Rica,Spirits,4.51
55,1989,Americas,Suriname,Wine,0.04
64,1989,Americas,Bolivia (Plurinational State of),Beer,1.26
78,1989,Americas,Jamaica,Other,0.00

In [100]:
df[(df['Year']==1986) & ((df['WHO region']=='Western Pacific') & (df['Country']=='Viet Nam' ))]

   Year       WHO region   Country Beverage Types  Display Value
0  1986  Western Pacific  Viet Nam           Wine            0.0

In [ ]:
(df[((df['Year']==1986) or (df['Year']==1986)) &  (df['WHO region']=='Americas')