In [1]:
import numpy as np
import pandas as pd

In [4]:
#Create a series by passing a list of values with a default integer index:
s=pd.Series([1,4,np.nan,6,8])
s

0    1.0
1    4.0
2    NaN
3    6.0
4    8.0
dtype: float64

In [5]:
#create a DataFrame using NumPy array, with a datetime index and labeled coilumns:
dates=pd.date_range('20190101',periods=8)
dates

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06', '2019-01-07', '2019-01-08'],
              dtype='datetime64[ns]', freq='D')

In [8]:
df=pd.DataFrame(np.random.randn(8,4),index=dates,columns=list('PQRS'))
df

                   P         Q         R         S
2019-01-01  1.177331 -0.886172 -1.319354 -0.894445
2019-01-02  0.482436  1.929721 -0.634051  0.600412
2019-01-03  0.543506  0.284524 -0.813236  0.861717
2019-01-04 -0.571886 -0.043843  0.207920  0.251544
2019-01-05  0.547849 -0.545548 -0.681625  0.734569
2019-01-06 -0.393974  0.254586  1.300175 -1.124974
2019-01-07  1.288697 -2.805422 -0.735330 -1.069325
2019-01-08  1.063932  1.149501  0.304859 -0.451716

In [17]:
#Create a DataFrame by passing a dict of objects that can be converted to series-like.
df2=pd.DataFrame({'A':1.,
                  'B':pd.Timestamp('20190102'),
                  'c':pd.Series(1, index=list(range(4)), dtype='float32'),
                  'D': np.array([3] * 4, dtype= 'int32'),
                  'E':pd.Categorical(['test','train','test','train']),
                  'F':'foo'})
df2

     A          B    c  D      E    F
0  1.0 2019-01-02  1.0  3   test  foo
1  1.0 2019-01-02  1.0  3  train  foo
2  1.0 2019-01-02  1.0  3   test  foo
3  1.0 2019-01-02  1.0  3  train  foo

In [18]:
#The columns of the above DataFrame have different dtypes.
df2.dtypes

A           float64
B    datetime64[ns]
c           float32
D             int32
E          category
F            object
dtype: object