Series is a one-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.). The axis labels are collectively referred to as the index.

In [1]:
#Time Series
import numpy as np
import pandas as  pd

In [2]:
rng = pd.date_range('1/1/2019', periods=100, freq='S')
ts = pd.Series(np.random.randint(0, 600, len(rng)), index=rng)
ts.resample('5Min').sum()

2019-01-01    30010
Freq: 5T, dtype: int32

In [3]:
#Time zone representation:
rng = pd.date_range('4/6/2019 00:00', periods=5, freq='D')
ts = pd.Series(np.random.randn(len(rng)), rng)
ts

2019-04-06    0.217107
2019-04-07    1.926470
2019-04-08    0.781774
2019-04-09   -0.100241
2019-04-10    0.278585
Freq: D, dtype: float64

In [4]:
ts_utc = ts.tz_localize('UTC')
ts_utc

2019-04-06 00:00:00+00:00    0.217107
2019-04-07 00:00:00+00:00    1.926470
2019-04-08 00:00:00+00:00    0.781774
2019-04-09 00:00:00+00:00   -0.100241
2019-04-10 00:00:00+00:00    0.278585
Freq: D, dtype: float64

In [5]:
#Converting to another time zone:
ts_utc.tz_convert('US/Eastern')

2019-04-05 20:00:00-04:00    0.217107
2019-04-06 20:00:00-04:00    1.926470
2019-04-07 20:00:00-04:00    0.781774
2019-04-08 20:00:00-04:00   -0.100241
2019-04-09 20:00:00-04:00    0.278585
Freq: D, dtype: float64

In [6]:
#Converting between time span representations:
rng = pd.date_range('1/1/2019', periods=6, freq='M')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

2019-01-31   -0.683712
2019-02-28    0.847553
2019-03-31    1.139813
2019-04-30    0.144552
2019-05-31   -0.732718
2019-06-30    1.314351
Freq: M, dtype: float64

In [7]:
ps = ts.to_period()
ps

2019-01   -0.683712
2019-02    0.847553
2019-03    1.139813
2019-04    0.144552
2019-05   -0.732718
2019-06    1.314351
Freq: M, dtype: float64

In [8]:
ps.to_timestamp()

2019-01-01   -0.683712
2019-02-01    0.847553
2019-03-01    1.139813
2019-04-01    0.144552
2019-05-01   -0.732718
2019-06-01    1.314351
Freq: MS, dtype: float64

Converting between period and timestamp:
In the following example, we convert a quarterly frequency with year ending in June to 10am of
the end of the month following the quarter end:

In [9]:
prng = pd.period_range('2018', '2019Q4', freq='Q-JUN')
ts = pd.Series(np.random.randn(len(prng)), prng)
ts.index = (prng.asfreq('M', 'e') + 1).asfreq('H', 's') + 9
ts.head()

2018-04-01 09:00   -0.225220
2018-07-01 09:00   -0.682742
2018-10-01 09:00    1.672020
2019-01-01 09:00    0.467159
2019-04-01 09:00   -0.413797
Freq: H, dtype: float64