In [1]:
import numpy as np
import pandas as pd

In [2]:
dates=pd.date_range('20190101',periods=8)

In [3]:
df=pd.DataFrame(np.random.randn(8,4),index=dates,columns=list('PQRS'))

In [4]:
df.head()

                   P         Q         R         S
2019-01-01  0.733566 -2.248420  0.130785 -1.301541
2019-01-02  1.266971 -1.981246  0.755334 -1.551265
2019-01-03 -0.232942  0.713778  0.484933 -0.279306
2019-01-04  0.398668  0.442176 -1.523725  0.740353
2019-01-05  0.589238  2.006252  1.055060  1.450139

In [5]:
df.tail()

                   P         Q         R         S
2019-01-04  0.398668  0.442176 -1.523725  0.740353
2019-01-05  0.589238  2.006252  1.055060  1.450139
2019-01-06  0.767119 -0.301611 -0.292066  2.036304
2019-01-07  1.249468 -0.266751  1.149631 -0.630358
2019-01-08 -0.570754  1.600396 -1.212386 -0.534906

In [6]:
df.tail(3)

                   P         Q         R         S
2019-01-06  0.767119 -0.301611 -0.292066  2.036304
2019-01-07  1.249468 -0.266751  1.149631 -0.630358
2019-01-08 -0.570754  1.600396 -1.212386 -0.534906

In [7]:
df.index

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06', '2019-01-07', '2019-01-08'],
              dtype='datetime64[ns]', freq='D')

In [8]:
df.columns

Index(['P', 'Q', 'R', 'S'], dtype='object')

In [9]:
df.to_numpy()

array([[ 0.7335661 , -2.24841998,  0.13078522, -1.30154088],
       [ 1.26697101, -1.98124631,  0.75533443, -1.5512648 ],
       [-0.2329422 ,  0.71377785,  0.48493297, -0.27930591],
       [ 0.39866845,  0.44217588, -1.52372524,  0.74035297],
       [ 0.58923816,  2.00625176,  1.05506029,  1.45013936],
       [ 0.7671191 , -0.3016109 , -0.29206553,  2.03630442],
       [ 1.24946795, -0.26675105,  1.14963079, -0.63035811],
       [-0.57075396,  1.60039607, -1.21238572, -0.53490551]])

In [12]:
df2=pd.DataFrame({'A': 1.,
                        'B': pd.Timestamp('20190102'),
                        'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                        'D': np.array([3] * 4, dtype='int32'),
                        'E': pd.Categorical(["test", "train", "test", "train"]),
                        'F': 'foo'
})
df2

     A          B    C  D      E    F
0  1.0 2019-01-02  1.0  3   test  foo
1  1.0 2019-01-02  1.0  3  train  foo
2  1.0 2019-01-02  1.0  3   test  foo
3  1.0 2019-01-02  1.0  3  train  foo

In [27]:
'''Note: DataFrame.to_numpy() does not include the index or column labels in the output.'''
(df2.to_numpy())

array([[1.0, Timestamp('2019-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2019-01-02 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2019-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2019-01-02 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

In [19]:
#describe() function shows a quick statistic summary of your data:
df.describe()

              P         Q         R         S
count  8.000000  8.000000  8.000000  8.000000
mean   0.525167 -0.004428  0.068446 -0.008822
std    0.651672  1.532226  1.006908  1.290562
min   -0.570754 -2.248420 -1.523725 -1.551265
25%    0.240766 -0.721520 -0.522146 -0.798154
50%    0.661402  0.087712  0.307859 -0.407106
75%    0.887706  0.935432  0.830266  0.917800
max    1.266971  2.006252  1.149631  2.036304

In [20]:
#Transposing data
df.T

,2019-01-01,2019-01-02,2019-01-03,2019-01-04,2019-01-05,2019-01-06,2019-01-07,2019-01-08
P,0.733566,1.266971,-0.232942,0.398668,0.589238,0.767119,1.249468,-0.570754
Q,-2.248420,-1.981246,0.713778,0.442176,2.006252,-0.301611,-0.266751,1.600396
R,0.130785,0.755334,0.484933,-1.523725,1.055060,-0.292066,1.149631,-1.212386
S,-1.301541,-1.551265,-0.279306,0.740353,1.450139,2.036304,-0.630358,-0.534906

In [21]:
#Sorting data by an axis:
df.sort_index(axis=1,ascending=False)

                   S         R         Q         P
2019-01-01 -1.301541  0.130785 -2.248420  0.733566
2019-01-02 -1.551265  0.755334 -1.981246  1.266971
2019-01-03 -0.279306  0.484933  0.713778 -0.232942
2019-01-04  0.740353 -1.523725  0.442176  0.398668
2019-01-05  1.450139  1.055060  2.006252  0.589238
2019-01-06  2.036304 -0.292066 -0.301611  0.767119
2019-01-07 -0.630358  1.149631 -0.266751  1.249468
2019-01-08 -0.534906 -1.212386  1.600396 -0.570754

In [23]:
#Sorting data by values:
df.sort_values(by="Q")

                   P         Q         R         S
2019-01-01  0.733566 -2.248420  0.130785 -1.301541
2019-01-02  1.266971 -1.981246  0.755334 -1.551265
2019-01-06  0.767119 -0.301611 -0.292066  2.036304
2019-01-07  1.249468 -0.266751  1.149631 -0.630358
2019-01-04  0.398668  0.442176 -1.523725  0.740353
2019-01-03 -0.232942  0.713778  0.484933 -0.279306
2019-01-08 -0.570754  1.600396 -1.212386 -0.534906
2019-01-05  0.589238  2.006252  1.055060  1.450139